header h2.post-subtitle {
    font-size: 1.6rem;
    color: #797a7a !important;
}

article .outer {
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
    /*
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    */
    height: 100%;
    padding: 0 !important;
}

article .inner,
article.inner {
    max-width: 48rem !important;
    margin-right: auto;
    margin-left: auto;
}

article a {
    text-decoration: none;
}

article a:hover:not(.btn) {
    text-decoration: underline;
}

article hr {
    margin-top: 45px;
    margin-bottom: 40px;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
    font-family: var(--font1);
}

article h2,
article h3,
article h4,
article h5 {

}

article h2+h3 {
    margin-top: 1.2em;
}

article h3+h4 {
    margin-top: 1.2em;
}

article h4+h5 {
    margin-top: 1.2em;
}

article *+h2,
article *+h3,
article *+h4, 
article *+h5 {
    margin-top: 1.4em;
    margin-bottom: 0;
}

article pre+h2,
article pre+h3,
article pre+h4, 
article pre+h5 {
    margin-top: 1.2em;
}

/* article p, */
article dl dt,
article dl dd,
article ul,
article ol {
    margin-top: 1em;
}

article.text p,
article.text dl dt,
article.text dl dd,
article.text ul,
article.text ol {
}

@media only screen and (max-width: 551.98px) {
    article.text p,
    article.text dl dt,
    article.text dl dd,
    article.text ul,
    article.text ol {
    }
}

article dl dt {
    margin-top: 5px;
    font-weight: 600 !important;
}

article p+p {
    margin-top: 1.4em; /* .2 */
}

article ul+p,
ol+p {
    margin-top: 1.6rem;
}

article *+pre {
    margin-top: 1.6em;
    margin-bottom: 1em;
}

article p+ul {
    margin-top: 35px;
}

article ol>li,
article ul>li {
    margin-bottom: 6px;
}

article img:not(.cover).left, article img:not(.cover).right {
    max-height: 100%;
    max-width: 300px;
    padding: 4px;
}

article img:not(.cover).right {
    margin: 0px 0 20px 20px;
    float: right;
}

article img:not(.cover).left {
    margin: 0px 20px 20px 0;
    float: left;
}

article p+img:not(.cover), p+a img:not(.cover) {
    padding-top: 20px;
}


:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Source Serif Pro', Georgia, Cambria, "Times New Roman", Times, serif;
}


@media only screen and (max-width: 768px) {
/*
    article p+h2,
    article p+h3,
    article p+h4,
    article p+h5 {
        margin-top: 37px;
    }

    article p,
    article dl dt,
    article dl dd,
    article ul,
    article ol {
        box-sizing: border-box;
        display: block;
    }

    article p+p {
        margin-top: 1.56em;
    }

    article p+ul {
        margin-top: 30px;
    }

    article ul+p,
    ol+p {
        margin-top: 35px;
    }

    article img:not(.cover)  {
        max-width: 100% !important;
        width: 100%;
        margin-left: 0 !important;
        margin-top: 24px !important;
        margin-bottom: 20px !important;
    }
    */
}

.post-subtitle {
    margin-top: 0;
}

li > ol {
    margin-top: 0.5rem;
}