pre {
    margin-bottom: 0;
}

code.hljs {
    padding: 0rem;
    border: 1px solid rgb(199 199 199 / 70%);
    border-radius: 10px;
    overflow: auto;

    background-color: #f9f9f9;
    line-height: 1.4;
    margin: 0 0 1rem;

    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.hljs-ln-n {
    padding-right: 20px;
}

.hljs-keyword,
.hljs-built_in {
    color: #8282be !important;
}

/* Class title */
.hljs-class .hljs-title {
    color: #21b6aa !important;
}

.hljs-params {
    color: #021180;
}

.function_ {
    color: #7a5e26  !important;
}