pre {
    margin-bottom: 0;
}

code, pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    font-size: 1em;
}

code.hljs {
    padding: 0rem;
    border: 1px solid rgb(199 199 199 / 70%);
    border-radius: 10px;
    overflow: auto;

    /* background-color: #f9f9f9;
    line-height: 1.4;
    color: black;
    */
    margin: 0 0 1rem;

    box-shadow: 0 .125rem .25rem rgba(17, 17, 17, 0.075)!important;
}

code.hljs.language-undefined {
    background-color: white;
    color: black;
    border: 1px solid rgb(199 199 199 / 70%);
}

/*

.hljs-built_in {
    color: #ae00db !important;
}

.hljs-type {
    color: #267f99 !important;
}

.hljs-string {
    color: #a31515 !important;
}

.hljs-meta {
    color: #33859e !important;
}

.hljs-keyword {
    color: #211eff !important;
}

.hljs-tag > .hljs-keyword {
    color: #800000 !important;
}

.hljs-tag > .hljs-name {
    color: #800000 !important;
}

.hljs-tag > .hljs-attr {
    color: #e60100 !important;
}

.hljs-comment {
    color: #008000 important;
}

*/