@inherits LayoutComponentBase

<div class="app-container bg-body">
    <NavMenu />

    <main class="container flex-grow">
        <article class="content">
            @Body
        </article>
    </main>

    <Footer />
</div>