@inherits LayoutComponentBase

        <header class="mb-auto">
            <div>
            @* <h3 class="float-md-start mb-0"><NavLink class="navbar-brand mr-auto mr-lg-0" href="" Match=@NavLinkMatch.All>
                <img src="/images/profile.jpeg" alt="Profile Image" class="rounded-circle profile"
                    style="margin-right: 10px; height: 32px;" />
                Marina Sundström</NavLink></h3> *@
            <NavMenu Transparent="true" />
            </div>
        </header>

        <main class="w-100">
            @Body
        </main>

        @*
        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@@mdo</a>.</p>
        </footer>
        *@
