@inject IJSRuntime JS

<footer class="footer py-4 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <h4>Marina Sundström</h4>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">
                        A personal website and blog about life and software development
                    </li>
                    <li class="mb-2">
                        Code is provided with no warranty.
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>This site</h5>
                <ul class="list-unstyled menu">
                    <li class="mb-2"><a href="/about-me">About me</a></li>
                    <li class="mb-2"><a href="/articles">Articles</a></li>
                    <li class="mb-2"><a href="/resume">Resume</a></li>
                    <li class="mb-2"><a href="/portflio">Portfolio</a></li>
                </ul>
            </div>
            <div class="col-6 mb-3">
                <h5>Social</h5>
                <ul class="list-unstyled">
                    <li class="nav-item list-inline-item">
                        <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                            href="https://github.com/marinasundstrom" title="GitHub" target="_blank">
                            <i class="fab fa-2x fa-github"></i>
                        </a>
                    </li>

                    <li class="nav-item list-inline-item">
                        <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                            href="https://www.youtube.com/channel/UCVdav9wE4kmtiEuk1_vG2_g" target="_blank">
                            <i class="fab fa-2x fa-youtube"></i>
                        </a>
                    </li>

                    <li class="nav-item list-inline-item">
                        <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                            href="https://twitter.com/marna_li" title="X" target="_blank">
                            <i class="fab fa-2x fa-x-twitter"></i>
                        </a>
                    </li>

                    <li class="nav-item list-inline-item">
                        <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                            href="https://www.linkedin.com/in/marinasundstrom" title="LinkedIn" target="_blank">
                            <i class="fab fa-2x fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <p class="float-end mb-1">
                <a id="scrollToTop" href="#" @onclick="ScrollToTop" @onclick:preventDefault>Back to top</a>
            </p>
            <p class="muted small mb-1">© @DateTime.Now.Year Marina Sundström &bullet; Built with .NET & Blazor - Hosted by GitHub Pages</p>
        </div>
    </div>
</footer>

@code {
    async Task ScrollToTop() 
    {
        await JS.InvokeVoidAsync("scrollToTop");
    }
}