@using System.Runtime.InteropServices.JavaScript

<header class="navbar navbar-expand-lg fixed-top navbar-dark bg-brand shadow-sm">
    <nav class=" container px-4 px-md-3 flex-wrap flex-md-nowrap" aria-label="Main navigation">
        <NavLink class="navbar-brand mr-auto mr-lg-0" href="" Match=@NavLinkMatch.All>
            <img src="/images/profile.jpeg" alt="Profile Image" class="rounded-circle profile"
                style="margin-right: 10px; height: 32px; font-weight: 700" />
            Marina Sundström
        </NavLink>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse bg-brand" id="navbarsExampleDefault">
            <hr class="d-lg-none text-white-50 pt-0 mt-0 mb-3" />

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All"><span>Home</span></NavLink>
                </li>
                <li class="nav-item active">
                    <NavLink class="nav-link" href="/#who-am-i"><span>About me</span></NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="articles"><span>Articles</span></NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="resume"><span>Resumé</span></NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="portfolio"><span>Portfolio</span></NavLink>
                </li>
            </ul>
            <ul class="navbar-nav">

                <NavMenuDivider OnlyOnSmall="true" />

                <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto d-lg-none">
                    <b><a class="nav-link">Social</a></b>
                </li>

                <li>
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        <li class="nav-item me-4 me-md-0">
                            <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                                href="https://github.com/marinasundstrom" title="GitHub" target="_blank">
                                <i class="fab fa-github icon-responsive"></i>
                            </a>
                        </li>

                        <li class="nav-item me-4 me-md-0">
                            <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                                href="https://www.youtube.com/@@marna_li" title="YouTube" target="_blank">
                                <i class="fab fa-youtube icon-responsive"></i>
                            </a>
                        </li>

                        <li class="nav-item me-4 me-md-0">
                            <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                                href="https://www.linkedin.com/in/marinasundstrom" title="LinkedIn" target="_blank">
                                <i class="fab fa-linkedin icon-responsive"></i>
                            </a>
                        </li>

                        <li class="nav-item me-4 me-md-0">
                            <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                                href="https://www.instagram.com/marna.li.s/" title="Instagram" target="_blank">
                                <i class="fab fa-instagram icon-responsive"></i>
                            </a>
                        </li>

                        <li class="nav-item me-4 me-md-0">
                            <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                                href="https://twitter.com/marna_li" title="X" target="_blank">
                                <i class="fab fa-x-twitter icon-responsive"></i>
                            </a>
                        </li>

                        <NavMenuDivider Class="mt-4 mt-md-0" />

                        <ThemeSelector />

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

@code {
    private string? message;

    [Parameter]
    public bool IsCoverPage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JSHost.ImportAsync("NavMenu",
            "../Shared/NavMenu.razor.js");

            InitNavbar();

            InitColorModes();

            if (IsCoverPage)
            {
                ScrollableNavbar();
            }
        }
        catch (Exception exc)
        {

        }
    }
}