@using System.Runtime.InteropServices.JavaScript

<header class="navbar navbar-expand-lg fixed-top navbar-dark bg-brand">
    <nav class="container px-4 px-md-3 flex-wrap flex-md-nowrap" aria-label="Main navigation">
        <NavLink class="navbar-brand mr-auto mr-lg-0" href="" Match=@NavLinkMatch.All>
            <img src="/images/profile.jpeg" alt="Profile Image" class="rounded-circle profile"
                style="margin-right: 10px; height: 32px; font-weight: 700" />
            Marina Sundström
        </NavLink>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse bg-brand" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item active">
                    <NavLink class="nav-link" href="/#who-am-i">About me</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="articles">Articles</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="resume">Resumé</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="portfolio">Portfolio</NavLink>
                </li>
            </ul>
            <hr class="d-md-none text-white-50">
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <ThemeSelector />
                <li class="nav-item list-inline-item me-4 me-md-0">
                    <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                        href="https://github.com/marinasundstrom" title="GitHub" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>

                <li class="nav-item list-inline-item me-4 me-md-0">
                    <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                        href="https://www.youtube.com/@@marna_li" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>

                <li class="nav-item list-inline-item me-4 me-md-0">
                    <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                        href="https://twitter.com/marna_li" title="X" target="_blank">
                        <i class="fab fa-x-twitter"></i>
                    </a>
                </li>

                <li class="nav-item list-inline-ite me-4 me-md-0">
                    <a class="nav-link menu-link me-0 py-2 text-decoration-none text-uppercase"
                        href="https://www.linkedin.com/in/marinasundstrom" title="LinkedIn" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

@code {
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JSHost.ImportAsync("NavMenu",
            "../Shared/NavMenu.razor.js");

            InitNavbar();

            InitColorModes();
        }
        catch (Exception exc)
        {

        }
    }
}