h2 {
    margin: 0;
    margin-bottom: 5px;
}

.post-title a {
    color: inherit !important;
    text-decoration: none;
  }
  
  .post-title a:hover {
    text-decoration: underline !important;
  }

  .text-bg-light {
    color: #767676 !important;
    font-weight: normal;
    background-color: #e9e9e9 !important;
  }