.toc-nav {
    font-size: .875rem;
}

.toc-nav ::deep a {
    display: block;
    padding: .125rem 0 .125rem .75rem;
    text-decoration: none;
    color: inherit;
    font-size: .875rem;
    border-left: .125rem solid transparent;
}

.toc-nav ::deep a:active,
.toc-nav ::deep a.active {
    font-weight: 500;
}

.toc-nav ::deep a:focus,
.toc-nav ::deep a:hover,
.toc-nav ::deep a:active,
.toc-nav ::deep a.active {
    text-decoration: none;
    color: #6f42c1;
    border-left-color: #6f42c1;
}

.toc-nav ::deep ul {
    padding-left: 0;
    margin-top: .25rem;
}

.toc-nav ::deep ul ul {
    padding-left: 1rem;
}

.toc-nav ::deep ul li {
    padding-left: 0;
    list-style: none;
}

::deep .on-sm {
    display: none;
}

@media (max-width: 992px) {
    ::deep .on-sm {
        display: block;
    }
}