@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@layout CoverLayout
@using System.Globalization

<PageTitle>Marina Sundström</PageTitle>

<div class="bgimg-1">

    <div class="text-center w-100 text-light caption"
        style="text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); padding-top: 200px;">

        <img class="rounded-circle pulse"
            style="height: 200px; margin-bottom: 25px; border: 5px solid var(--brand-color);"
            src="/images/profile.jpeg" />
        <h1>Hi! I'm Marina 😊</h1>
        <p class="lead">I'm a Software Developer.</p>
        <p class="lead">
            <a href="#who-am-i" class="mt-4 custom btn btn-lg btn-secondary fw-bold">About me</a>
        </p>

        <br />
        <br />
        <br />

    </div>

</div>

<section id="who-am-i" class="context" style="padding-top: 55px !important; padding:50px 15px;text-align: start;">
    <div class="container">
        <div class="col mx-auto mt-4" style="max-width: 640px">
            <h3 style="text-align:center;">Who am I?</h3>
            <p>I'm a software developer based in Malmö, Sweden.</p>

            <p>I specialize in C#/.NET and Web development, crafting software that’s not just functional but delightful
                to use.</p>

            <p>Beyond coding, you’ll find me exploring beautiful nature on long walks, pondering life over a great cup
                of coffee, or experimenting with new cocktail recipes.</p>

            <div class="d-flex justify-content-center">
                <p><a class="btn btn-primary text-center mt-4" href="/presentation">Read more</a></p>
            </div>
        </div>

    </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await NavigationManager.NavigateToFragmentAsync(JS);
        }
    }
}