::deep section {
    margin-bottom: 45px;
}

::deep p+section {
    margin-top: 45px;
}

.content {
    min-width: 1px;
}

.toc-desktop {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

@media (min-width: 992px) {
    .toc-desktop {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        max-height: calc(100vh - 7rem);
        overflow-y: auto;
    }
}

@media (max-width: 991.98px) {
    .toc-mobile {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}