@page "/portfolio"
@inject HttpClient Http

<PageTitle>Portfolio - Marina Sundström</PageTitle>

@if (projects is null)
{
    <text>Loading portfolio...</text>
}
else
{
    <article>
    <h1>Portfolio</h1>

    <div class="mt-4">
        <p>Here are some of my projects - most of them are open source. You can find more of my projects on my <a
                href="https://github.com/marinasundstrom">GitHub page</a>, and more videos in this <a
                href="https://youtube.com/playlist?list=PLLBU--06ftFqPiAwkg3VKa2fIEhNu7J4L">playlist</a> on YouTube.</p>
    </div>

    <div class="mt-5">

        @foreach (var project in projects.ToList())
            {
                <ProjectView Project="project" />

                @if (projects.LastOrDefault() != project)
                {
                    <hr />
                }
            }
        </div>
    </article>
}

@code {
    IEnumerable<Models.Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        var json = await Http.GetStringAsync("/pages/portfolio.json");
        var portfolio = Models.Portfolio2.FromJson(json);

        projects = portfolio.Projects
        .OrderByDescending(p => p.Ongoing)
        .ThenByDescending(p => p.EndDate);
        //.ThenByDescending(p => p.StartDate);
    }
}