/*
[data-bs-theme='dark'] .bg-brand {
    background-color: #282634 !important;
    border-bottom: 1px solid #323232;
}
*/

[data-bs-theme='dark'] .btn.btn-outline-secondary {
    color: #f3f3f3;
}

[data-bs-theme='dark'] .card {
    background-color: #2b3137 !important;
    /* #2b2e32; */
}

[data-bs-theme='dark'] .page-item .page-link {
    background-color: inherit;
    color: white;
}

[data-bs-theme='dark'] .page-item.active .page-link {
    color: white;
}

[data-bs-theme='dark'] .page-item.disabled .page-link {
    color: gray;
    background-color: rgb(35, 35, 35) !important;
}

[data-bs-theme='dark'] .badge,
[data-bs-theme='dark'] .badge.tag {
    background-color: rgb(80 75 75) !important;
    color: white !important;
}

.badge.mini {
    font-size: font-size: var(--bs-body-font-size);
}

[data-bs-theme='dark'] a.badge:hover {
    color: lightgray;
}

[data-bs-theme='dark'] .text-muted {
    color: #898d91 !important;
}

[data-bs-theme='dark'].badge.tag {
    background-color: #596883 !important;
    color: #ffffffab !important;
    font-weight: 460;
}

[data-bs-theme='dark'] .badge.comment-badge {
    background-color: rgb(190, 190, 190) !important;
    color: #46464D !important;
}

[data-bs-theme='dark'] section a:not(.btn) {
    color: #7fc1ee;
}

[data-bs-theme='dark'] section a:hover:not(.btn) {
    color: #4786af;
}

[data-bs-theme='dark'] section a.nav-link {
    color: #7fc1ee;
}

[data-bs-theme='dark'] section a.nav-link:hover {
    color: #4786af;
}