@media (prefers-color-scheme: dark) {

    article  a {
        color: #7fc1ee;
    }

    article   a:hover {
        color: #4786af;
    }

    article a.nav-link {
        color: #7fc1ee;
    }

    article a.nav-link:hover {
        color: #4786af;
    }

    header h2.post-subtitle {
        color: #b7b7b7 !important;
    }
  }