.dark article a {
    color: #7fc1ee;
}

.dark article a:hover {
    color: #4786af;
}

.dark article a.nav-link {
    color: #7fc1ee;
}

.dark article a.nav-link:hover {
    color: #4786af;
}

.dark header h2.post-subtitle {
    color: #b7b7b7 !important;
}