header h2.post-subtitle {
    font-size: 21px;
    color: #797a7a !important;
}

.blog .outer {
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
    /*
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    */
    height: 100%;
    padding: 0 !important;
}

.blog .inner {
    max-width: 720px;
    /* 692px; */
    margin-right: auto;
    margin-left: auto;
}

.blog a {
    text-decoration: none;
}

.blog a:hover {
    text-decoration: underline;
}

.blog hr {
    margin-top: 45px;
    margin-bottom: 45px;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4 {
    font-family: var(--font1);
}

.blog h2,
.blog h3,
.blog h4 {
    box-sizing: border-box;
    display: block;
    margin-bottom: -8.14px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 69.08px;

    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.06px;
    line-height: 28px;
    word-break: break-word;
}

.blog p+h3,
p+h4 {
    margin-top: 50.08px;
}

.blog p,
.blog ul,
.blog ol {
    box-sizing: border-box;
    display: block;
    margin-bottom: -9.2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    font-family: var(--font2);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06px;
    line-height: 32px;
    word-break: break-word;
}

.blog p+p {
    margin-top: 40px;
}

.blog ul+p,
ol+p {
    margin-top: 40px;
}

.blog *+pre {
    margin-top: 40px;
}

.blog p+ul {
    margin-top: 40px;
}

.blog ol>li,
.blog ul>li {
    margin-bottom: 15px;
}

:root {
    --font1: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font2: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

@media print {

    body,
    .post * {
        display: none;
    }

    body .post .printarea {
        display: block;
    }
}