header h2.post-subtitle {
    font-size: 21px;
    color: #797a7a !important;
}

article .outer {
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
    /*
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    */
    height: 100%;
    padding: 0 !important;
}

article .inner, article.inner {
    max-width: 840px; /* 720px; 692px; */
    margin-right: auto;
    margin-left: auto;
}

article a {
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

article hr {
    margin-top: 45px;
    margin-bottom: 45px;
}

article h1,
article h2,
article h3,
article h4 {
    font-family: var(--font1);
}

article h2,
article h3,
article h4 {
    box-sizing: border-box;
    display: block;
    margin-bottom: -8.14px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 69.08px;

    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.06px;
    line-height: 28px;
    word-break: break-word;
}

article h2 + h3 {
    margin-top: 25px;
}

article p+h3,
article p+h4 {
    margin-top: 50.08px;
}

article p,
article dl dt, 
article dl dd,
article ul,
article ol {
    box-sizing: border-box;
    display: block;
    margin-bottom: -9.2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    /* font-family: var(--font2); */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06px;
    line-height: 32px;
    word-break: break-word;
}

article dl dt {
    margin-top: 5px;
    font-weight: 600 !important;
}

article p+p {
    margin-top: 40px;
}

article ul+p,
ol+p {
    margin-top: 40px;
}

article *+pre {
    margin-top: 40px;
}

article p+ul {
    margin-top: 40px;
}

article ol>li,
article ul>li {
    margin-bottom: 15px;
}

:root {
    --font1: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font2: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

@media print {

    body,
    .post * {
        display: none;
    }

    body .post .printarea {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    article p+h2,
    article p+h3,
    article p+h4 {
        margin-top: 48.08px;
    }

    article p,
    article dl dt, 
    article dl dd,
    article ul,
    article ol {
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.06px;
        line-height: 28px;
    }

    article p+p {
        margin-top: 32px;
    }
}