pre {
    margin-bottom: 0;
}

code, pre {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    font-size: 1em;
    font-size: 14px !important;
}

code.hljs {
    padding: 0rem;
    border: 1px solid rgb(199 199 199 / 70%);
    border-radius: 10px;
    overflow: auto;

    /* background-color: #f9f9f9;
    line-height: 1.4;
    color: black;
    */
    margin: 0 0 1rem;

    box-shadow: 0 .125rem .25rem rgba(17, 17, 17, 0.075) !important;
}

code.hljs.language-undefined {
    background-color: #ffffff;
    color: black;
    border: 1px solid rgb(199 199 199 / 70%);
}

/*

body.dark:not(.dark) {

.hljs {
    background: #fff;		    
    color: #020f80 !important;
}

.hljs-deletion, .hljs-meta, .hljs-selector-attr, .hljs-selector-pseudo {
    color: #267f99 !important;
}

.hljs-built_in, .hljs-keyword, .hljs-name, .hljs-selector-tag{
    color: #1611ff !important;
}

.hljs-keyword {
    color: #0d06ff !important;
}

.hljs-name, .hljs-selector-tag, .hljs-tag {
    color: #800000 !important;
}

.hljs-tag {
    color: #800000 !important;
}

.hljs-attr {    
    color: #e50100 !important;
}

.hljs-tag > .hljs-string {
    color: #0d06ff !important;
}

.hljs-addition, .hljs-attribute, .hljs-literal, .hljs-section, .hljs-string, .hljs-template-tag, .hljs-template-variable, .hljs-title, .hljs-type {
    color: #267f99 !important;
}

.hljs-comment {
    color: #008000 !important;
}

.hljs-quote {
    color: #ab362c !important;
}

.hljs-variable {
    color: #020f80 !important;
}
}