    .dark code.hljs {
        border: 0;
        border-radius: 10px;
        color: #fafafa;
        background-color: #1e293b;
    }

    .dark .hljs-ln-n {
        padding-right: 20px;
    }

    .dark .hljs-keyword,
    .hljs-built_in {
        color: #8282be !important;
    }

    .dark .hljs-params {
        color: #8282be !important;
    }

    .dark .hljs-class .hljs-title {
        color: #21b6aa !important;
    }

    .dark .hljs-function .hljs-title,
    .hljs-title.function_ {
        color: #d4f489 !important;
    }