pre {
    margin-bottom: 0;
}

code.hljs {
    padding: 0rem;
    border: 1px solid #ddd;
    overflow: auto;

    background-color: #f9f9f9;
    border-radius: 3px;
    line-height: 1.4;
    margin: 0 0 1rem;
}

.hljs-ln-n {
    padding-right: 20px;
}