@page "/blog/tags"
@layout PageLayout
@using PersonalSite.Markdown
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class=" col-xxl-10">
    <div class="mb-5">
        <h1 class="post-title">Tags</h1>
        <div class="post-line"></div>
    </div>

    <PageTitle>Marina Sundström</PageTitle>

    <Tags />

</div>